<html>

<head>

    <script src="C://Users/hp/LabTaskIndivi/products.js"></script>


    <title>Shopping</title>

    <script src="https://unpkg.com/vue"></script>
    <!-- // <script src="C://Users/hp/LabTaskIndivi/products.js"></script> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        strong {
            color: rgb(46, 114, 19);
        }
    </style>
</head>

<body>
    <div id="app">
        <header>
            <h1 v-text="sitename"></h1>
            <button v-on:click='showCheckout'  v-show="display" v-if="buttonvalue()" >
                <span> {{cartItemCount}} </span>

                <span class="fas fa-cart-plus"></span> Checkout
                <!-- disable="disable" v-else -->
            </button>
            <!-- Shopping ca -->
            <div v-for="product in mysecondcart">
                <h2 v-text="product.subject"></h2>
                <figure>
                    <img v-bind:src="product.image">
                </figure>
                <p>Description:{{product.description}}</p>
                <p>Location:{{product.location}}</p>
                <p>Price: {{product.price}}</p>
                <p>Spaces: only {{product.availableInventory - cartCount(product.id)}} are left!</p>
                <button v-on:click='removeproduct(product)' v-if='canAddToCart(product)'>Remove Product</button>


                <button disabled="disable" v-else>Add to cart</button>

            </div>


        </header>
        <main>

            <div v-if='showProduct'>
                <table>

                    <tr>
                        <td><span>SortBySUBJECT <input type="radio" name="a"
                                    v-on:click="sortedsubject(products.subject)"></span>
                        </td>
                    <tr>
                        <td><span>SortByPrice<input type="radio" name="a"
                                    v-on:click="sortedprice(products.price)"></span>
                        </td>
                    </tr>

                    <tr>
                        <td><span>SortByInventory<input type="radio" name="a"
                                    v-on:click="sortedinventory(products.availableInventory)"></span></td>
                    </tr>
                    <tr>
                        <td><span>SortBYLocation<input type="radio" name="a"
                                    v-on:click="sortedlocation(products.location)"></span></td>
                    </tr>

                    <tr>
                        <td><span>ASCENDING<input type="radio" name="a"
                                    v-on:click="sortingdesn(products.subject)"></span>
                        </td>
                    </tr>
                    <tr>
                        <td><span>DESCENDING<input type="radio" name="a"
                                    v-on:click="sortingasn(products.subject)"></span>
                        </td>
                    </tr>
                </table>


                <div v-for="product in products">
                    <h2 v-text="product.subject"></h2>
                    <figure>
                        <img v-bind:src="product.image">
                    </figure>
                    <p>Description:{{product.description}}</p>
                    <p>Location:{{product.location}}</p>
                    <p>Price: {{product.price}}</p>
                    <p>Spaces: only {{product.availableInventory - cartCount(product.id)}} are left!</p>


                    <button @click="display = true" v-on:click='addToCart(product)' v-if='canAddToCart(product)'>Add
                        to cart</button>

                    <button v-else>Add to cart</button>



                </div>
            </div>
            <div v-else>
                <h2>Checkout</h2>
                <p>
                    <strong>First Name:</strong>
                    <input v-model.trim="order.firstName" placeholder="YOUR FIRST NAME!" required />
                </p>
                <p>
                    <strong>Last Name:</strong>
                    <input v-model.trim="order.lastName" placeholder="YOUR LAST NAME!" />
                </p>
                <p>
                    <strong>Phone:</strong>
                    <input v-model="order.phone" placeholder="YOUR PHONE NUMBER!" />
                </p>



                <h2>Order Information</h2>
                <label>
                    <p>First Name: {{order.firstName}}</p>
                </label>
                <p>Last Name: {{order.lastName}}</p>
                <p>Address: {{order.phone}}</p>

                <button v-on:click="submitForm">Place Order</button>
            </div>
        </main>
    </div>

    </div>
    <script type="text/javascript">
        var webstore = new Vue({
            el: '#app',
            data: {

                sitename: 'SHOP ONLINE',
                products: arr,

                display: false,
                //display1: true,
                cart: [],
                mysecondcart: [],
                showProduct: true,

                order: {
                    firstName: '',
                    lastName: '',
                    phone: '',
                   
                },

            },
            methods: {
                addToCart(product) {
                    this.cart.push(product.id);
                    this.mysecondcart.push(product);

                     console.log("iM HERE");

            fetch ('https://cst--3145.herokuapp.com/collection/products/'+ product._id,{
                  method: 'PUT',
                  headers:{
                     'Content-Type': 'application/json',
                  },
                   body: JSON.stringify({availableInventory: newavailableInventory })
                  }).then(function (data) {
                     console.log(data);
       //              console.log("Im Here");

             }); 


                },





                sortedProducts(abcd) {
                    function compare(a, b) {
                        if (a.price > b.price)
                            return 1;
                        if (a.price < b.price)
                            return -1;
                        return 0;


                    }
                    return this.products.sort(compare);

                },
                sortedsubject(abcde) {
                    function compare(a, b) {
                        if (a.subject > b.subject)
                            return 1;
                        if (a.subject < b.subject)
                            return -1;
                        return 0;


                    }
                    return this.products.sort(compare);

                },
                // disple()
                // {
                //         if(button==onclick)
                //         {
                //             return display1 == none;
                //         }
                // },
                sortedinventory(abcde) {
                    function compare(a, b) {
                        if (a.availableInventory > b.availableInventory)
                            return 1;
                        if (a.availableInventory < b.availableInventory)
                            return -1;
                        return 0;


                    }
                    return this.products.sort(compare);

                },
                sortedlocation(abcde) {
                    function compare(a, b) {
                        if (a.location > b.location)
                            return 1;
                        if (a.location < b.location)
                            return -1;
                        return 0;


                    }
                    return this.products.sort(compare);

                },

                sortedprice(abcde) {
                    function compare(a, b) {
                        if (a.price > b.price)
                            return 1;
                        if (a.price < b.price)
                            return -1;
                        return 0;


                    }
                    return this.products.sort(compare);

                },
                sortingdesn(abcde) {
                    function compare(a, b) {
                        if (a.subject < b.subject)
                            return -1;
                        if (a.subject > b.subject)
                            return 1;
                        return 0;


                    }
                    return this.products.sort(compare);

                },
                sortingasn(abcde) {
                    function compare(a, b) {
                        if (a.subject < b.subject)
                            return 1;
                        if (a.subject > b.subject)
                            return -1;
                        return 0;


                    }
                    return this.products.sort(compare);

                },


                showCheckout() {
                    this.showProduct = this.showProduct ? false : true;

                },


                submitForm(l, b, c) {
                    if (this.order.firstName == "" && this.order.lastName == "" && this.order.phone == "") {

                        return alert('PLEASE ENTER YOUR DETAILS FOR ORDERS')

                    }
                    if (this.order.firstName == "") {
                        return alert('PLEASE ENTER YOUR NAME')
                    }
                    if (this.order.lastName == "") {
                        return alert('PLEASE ENTER YOU LASTNAME')
                    }
                    if (this.order.phone == "") {
                        return alert('PLEASE ENTER YOUR MOBILE NUM OR PHONE', { background: 'black' });
                    }
                    else {


                        this.order.firstName = "";
                        this.order.lastName = "";
                        this.order.phone = "";

                        return alert(' you are succesfully placed the order')


                    }

                },
                canAddToCart(product) {
                    return product.availableInventory > this.cartCount(product.id);
                },
                cartCount(id) {

                    let count = 0;
                    for (let i = 0; i < this.cart.length; i++) {
                        if (this.cart[i] === id) {
                            count++;


                        }
                    }
                    return count;


                },

                buttonvalue() {
                    if (this.cart.length > 0) {
                        return true;
                    } else {

                        return false;

                    }
                },
                removeproductfrominve()
                {
                    if(this.cart.length <= 0)
                    {
                        return true;
                    }
                    else{
                        false;
                    }


                },



                removeproduct(product) {
                    this.mysecondcart.pop(product);
                    this.cart.pop(product);

                }
            },
            computed: {
                cartItemCount() {

                    return this.cart.length;
                }
            },



        });


    </script>
</body>

</html>